:root{
	--header-bg:#526e2d;
}
li{
	list-style-type: none;
}
.header {
	min-height: 30px;
	width: 100%;
	background-color: var(--header-bg);
}
.form-inline{
	float: right;
}
.exchange{
	height: 20px;
	margin: 15px 0;
	background-color: var(--header-bg)
}